<form action="survey" method="post">
    <div>
        <label>Name</label>
        <input type="text" name="name">
    </div>

    <div>
        <label>Dojo Location</label>
        <select name="location" id="location">
            <option value="San_Jose">San Jose</option>
            <option value="Chicago">Chicago</option>
            <option value="Other">Other</option>
        </select>
    </div>

    <div>
        <label>Favorite Language</label>
        <select name="language" id="language">
            <option value="CSharp">C#</option>
            <option value="Java">Java</option>
            <option value="Python">Python</option>
        </select>

        <div>
        <label>Comment (optional)</label>
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
    </div>

    <button type="submit">Submit</button>
    </div>
    
</form>